<!-- <header class="major"><h2>The Blog</h2></header> -->
{% for post in site.posts offset: 0 limit: 4 %}
<div class="row">
	<section class="12u">
		<div class="box post">
			<a href="#" class="image left">{{ post.date | date: '%d.%m.%Y' }}<img src="{{ site.baseurl }}{{ post.featured }}" alt=""></a>
			<div class="inner">
				<h3>{{ post.title }}</h3>
				{{ post.excerpt }}
				<footer>
					<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
				</footer>
			</div>
		</div>

	</section>
</div>
{% endfor %}

<ul class="timeline">
	{% for post in site.posts %}
		{% assign loopindex = forloop.index | modulo: 2 %}
		{% capture class %}
			{% if loopindex == 0 %}
				timeline-inverted
			{% endif %}
		{% endcapture %}
	
		<li class="{{ class }}">
			<div class="timeline-image">
				Image: {{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}
				<img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>{{ post.title }}</h4>
					<h4 class="subheading">{{ post.subtitle }}</h4>
				</div>
				<div class="timeline-body">
					<p class="text-muted">
						{{ post.content }}
					</p>
				</div>
			</div>
		</li>

	{% endfor %}

	<li class="timeline-inverted">
		<div class="timeline-image">
			<img class="img-circle img-responsive" src="{{ site.baseurl }}/{{ site.career-img }}" alt="">
		</div>
	</li>

</ul>
