body > .container {
    padding-top: 56px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 20px;
}


img > .img-fluid {
	height: 300px;
	width: 300px;
}

.carousel-caption {
	background-color: rgba(52, 58, 64, 0.8); /*  #343a40; */
}

.carousel-caption > * {
	color: white;
}
#navbarResponsive > ul > li > a:hover {
	border-bottom: 2px solid white !important;
}

#navbarResponsive > ul > li:nth-child(1) > a:hover {
	border-bottom: 2px solid #1670bf !important;
}
