body > .container {
    padding-top: 56px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 20px;
}

/*
.img-fluid {
    padding: 10px 10px 10px 10px;

    width: 250px;
    height: auto;
}

.vertical-center {
    min-height: 10%;
    min-height: 10vh;

    display: flex;
    align-items: center;
}

.card {
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-body {
    margin-top: 5px;
    background-color: #dddddd;
    text-align: center;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
*/