# _DEPLOY_VERSION=2.1.1-05

defaults=ionic
defaults=commitizen
defaults=@angular/cli --save
defaults=@capacitor/core --save
defaults=@capacitor/cli --save

use_node=true
use_ionic=true
use_angular=true
use_python=true
use_dotnet=false
use_yarn=true
use_flutter=false
use_fastlane=false
use_anroid=false