---
layout: page
title: Learn
---
{% assign images = site.url | append: site.baseurl | append: 'assets/img' %}

<div class="container">
    {% include component/breadcrumb.html %}

    {% include base/set_colclass.html %}
    <div class="row">
        {% assign items = site.data.repositories | where: "category", "learn" %}
        {% for item in items %}
        <div class="{{ colclass }} portfolio-item">
            <div class="card h-100">
                <a href="{{ item.link }}"><img class=" img-fluid rounded mb-3 mb-md-0"
                    src="{{ images }}/{{ item.img | downcase }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></h4>
                    <h5>{{ item.subtitle }}</h5>
                    <p class="card-text">{{ item.text | markdownify }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>