{% include 00_header.html %}
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <div class="row double">
                <div class="2u">
                    <section>
                        <header class="major">
                           <p>{{ page.date | date_to_string }}</p>
                        </header>
                    </section>
                </div>
                <div class="6u">
                    <section>
                        <section class="box">
                            <a href="#" class="image left"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
                            {{ page.content }}
                        </section>
                    </section>
                </div>
                <div class="4u">
                    {% include 10_sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</section>	
{% include 99_footer.html %}